fastapi
uvicorn[standard]
python-multipart
psycopg2-binary
sqlalchemy
pydantic
requests
python-dotenv
aiofiles
celery
redis
openai
python-docx
gunicorn
pydantic[email]
jinja2
passlib[bcrypt]
bcrypt==4.0.1
werkzeug
loguru
pydub
ffmpeg-python
gevent>=23.9.1